/* ------------------ nav-intro ------------------ */
@keyframes nav-intro {
    0% {
        margin-right: -10px;
        opacity: 0.2;
        filter: aphla(opacity=20); /* For IE8 and earlier */
    }
    20% {
        opacity: 0.4;
        filter: aphla(opacity=40); /* For IE8 and earlier */
    }
}
@-o-keyframes nav-intro {
    0% {
        margin-right: -10px;
        opacity: 0.2;
    }
    20% {
        opacity: 0.4;
    }
}
@-moz-keyframes nav-intro {
    0% {
        margin-right: -10px;
        opacity: 0.2;
    }
    20% {
        opacity: 0.4;
    }
}
@-webkit-keyframes nav-intro {
    0% {
        margin-right: -10px;
        opacity: 0.2;
    }
    20% {
        opacity: 0.4;
    }
}

/* ------------------ big-title-intro ------------------ */
@keyframes big-title-intro {
    from {
        padding-left: 100px;
        margin-right: -100px;
        opacity: 0;
        filter: alpha(opacity=0); /* For IE8 and earlier */
    }
}
@-o-keyframes big-title-intro {
    from {
        padding-left: 100px;
        margin-right: -100px;
        opacity: 0;
    }
}
@-moz-keyframes big-title-intro {
    from {
        padding-left: 100px;
        margin-right: -100px;
        opacity: 0;
    }
}
@-webkit-keyframes big-title-intro {
    from {
        padding-left: 100px;
        margin-right: -100px;
        opacity: 0;
    }
}

/* ------------------ page-content-intro ------------------ */
@keyframes page-content-intro {
    from {
        padding-left: 100px;
        width: calc(100% - 150px);
    }
    20% {
        padding-left: 100px;
        width: calc(100% - 150px);
    }
}
@-webkit-keyframes page-content-intro {
    from {
        padding-left: 100px;
        width: calc(100% - 150px);
    }
    20% {
        padding-left: 100px;
        width: calc(100% - 150px);
    }
}
@-o-keyframes page-content-intro {
    from {
        padding-left: 100px;
        width: calc(100% - 150px);
    }
    20% {
        padding-left: 100px;
        width: calc(100% - 150px);
    }
}
@-moz-keyframes page-content-intro {
    from {
        padding-left: 100px;
        width: calc(100% - 150px);
    }
    20% {
        padding-left: 100px;
        width: calc(100% - 150px);
    }
}
@-webkit-keyframes page-content-intro {
    from {
        padding-left: 100px;
        width: calc(100% - 150px);
    }
    20% {
        padding-left: 100px;
        width: calc(100% - 150px);
    }
}

/* ------------------ page-content-fade-in ------------------ */
@keyframes page-content-fade-in {
    from {
        opacity: 0;
        filter: alpha(opacity=0); /* For IE8 and earlier */
    }
    20% {
        opacity: 0;
        filter: alpha(opacity=0); /* For IE8 and earlier */
    }
}
@-o-keyframes page-content-fade-in {
    from {
        opacity: 0;
    }
    20% {
        opacity: 0;
    }
}
@-moz-keyframes page-content-fade-in {
    from {
        opacity: 0;
    }
    20% {
        opacity: 0;
    }
}
@-webkit-keyframes page-content-fade-in {
    from {
        opacity: 0;
    }
    20% {
        opacity: 0;
    }
}