* {
    font-family: cursive, monospace, 'Microsoft JhengHei';
}
body {
    margin: 0;
    min-width: 890px;
}
.main-background {
    width: 600px;
    position: fixed;
    bottom: 0px;
    right: 10px;
    z-index: -99;
    opacity: 0.6;
    filter: alpha(opacity=60);
}
.background {
    position: absolute;
    margin: 0;
    min-width: 100%;
    min-height: inherit;
    z-index: -1;
}
.closed-frame {
    position: relative;
    overflow: hidden;
}
.main-footer {
    display: block;
    width: 100%;
    height: 310px;
}

