* {
    font-family: cursive, monospace, 'Microsoft JhengHei';
}
body {
    margin: auto;
    min-width: 890px;
}
.main-background {
    width: 600px;
    position: fixed;
    bottom: 0px;
    right: 10px;
    z-index: -99;
    opacity: 0.6;
    filter: alpha(opacity=60);
}
.background {
    position: absolute;
    margin: 0;
    min-width: 100%;
    min-height: inherit;
    z-index: -1;
}
.closed-frame {
    position: relative;
    overflow: hidden;
}
footer {
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 80px;
    opacity: 0.9;
    filter: alpha(opacity=90); /* For IE8 and earlier */
}

