* {
    margin: 0;
}
h1 {
    padding: 0 50px;
}
p {
    margin: 30px auto;
    font-size: 20px;
    width: calc(100% - 200px);
}
header {
    height: 90px;
    background: rgba(40, 40, 120, 0.7);
    overflow: hidden;
}
header .main-frame {
    width: 100%;
    height: 90px;
}
header .title-box {
    height: 30px;
    padding: 10px 10px;
    font-size: 20px;
}
.container {
    padding: 50px;
    width: calc(100% - 100px);
    min-height: 800px;
    background-color: rgba(250, 250, 250, 0.9);
    overflow: hidden;
}
.container .intro-frame {
    width: 100%;
    animation: page-content-intro 0.6s;
    -o-animation: page-content-intro 0.6s;
    -moz-animation: page-content-intro 0.6s;
    -webkit-animation: page-content-intro 0.6s;
}
.container * {
    animation: page-content-fade-in 0.8s;
    -o-animation: page-content-fade-in 0.8s;
    -moz-animation: page-content-fade-in 0.8s;
    -webkit-animation: page-content-fade-in 0.8s;
}
