body {
    background-color: gray;
}
.container {
    margin: 0 auto;
    width: 800px;
    padding: 50px;
    min-height: 900px;
    background-color: white;
    box-shadow: -5px 0 50px, 5px 0 50px;
}
h1 {
    text-align: center;
}